.tasks {
    background-color: var(--main-bg-color);
    border: 1px solid var(--frame-color);
    grid-row: 2;
    grid-column: 2;
    display: flex;
    justify-content: center;
}

.tasks > .content {
    width: 500px;
    left: 50%;
}

.tasks input {
    width: calc(100% - 30px);
    height: calc(100% - 10px);
}

.tasks ul {
    list-style: none;
    margin: auto;
    padding: 0px;
}

.tasks li {
    position: relative;
    padding-left: 50px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--additional-color);
    cursor: pointer;
    border-radius: 10px;
}

.tasks li:hover {
    background-color: rgb(41, 49, 55);
}

.tasks span {
    margin: 10px;
    text-align: left;
    /* flex: 1; */
}

.tasks ul button {
    animation-name: buttonOut;
    animation-duration: 0.2s;
    border: 1px solid var(--additional-color);
    width:20px;
    height:20px;
    border-radius: 100%;
    background-color: unset;
    cursor: pointer;
    color: var(--text-color);
}

.tasks ul button:hover {
    /* background-color: var(--additional-color); */
    /* background-color: rgba(255, 255, 255, 0.5); */
    /* border-color: var(--text-color); */
    animation-name: buttonIn;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

/* @media (prefers-reduced-motion: no-preference) {
    .tasks button:hover {
      animation: buttonIn 0.4s forwards;
    }
  } */

@keyframes buttonIn {
from { background-color: unset; }
to { background-color: var(--additional-color); }
}

@keyframes buttonOut {
    from { background-color: var(--additional-color); }
    to { background-color: unset; }
}

.tasks #add-task-suggestion {
    position: relative;
    padding-left: 50px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    line-height: 2em;
    cursor: pointer;
}

.tasks #add-task-suggestion:hover {
    color: var(--additional-color);
}

/* .tasks #add-task-suggestion span {
    text-align: left;
} */

.tasks #add-task {
    display: flex;
    flex-wrap: wrap;
}

.tasks #add-task button {
    margin: 2px 5px;
    border-radius: 10px;
    border: 1px solid var(--frame-color);
    color: var(--text-color);
    padding: 8px 10px;
    background-color: var(--additional-color);
    font-size: 15px;
    cursor: pointer;
}
