.navbar {
    /* position: fixed; */
    width: 100%;
    background-color: var(--second-bg-color);
    border: 1px solid var(--frame-color);
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}